.box {
    width:80%;
    height:fit-content;
    background-color: rgb(255, 215, 155);
    
    border-radius:10px;
    text-align: left;
    margin: auto;
}
#Black {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:2px;
    display: inline;
}
#Green {
    color:rgb(31, 143, 23);
    font-family: Arial, Helvetica, sans-serif;
    position:static;
    left:2px;
    display: inline;
}