.box {
    width:80%;
    height:fit-content;
    background-color: rgb(251, 220, 174) !important;;
    
    border-radius:10px;
    text-align: left;
    margin: auto;
}
#Black {
    color:black !important;;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left:2px;
    display: inline;
}
#Green {
    color:rgb(31, 143, 23) !important;;
    font-family: Arial, Helvetica, sans-serif;
    position:static;
    left:2px;
    display: inline;
}
